@using ProFatura.Entity.Concrete
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ürünler</h4>
                <a href="/Product/AddProduct" class="btn btn-primary">Yeni Ürün Ekle</a>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Ürün Adı</th>
                                        <th>Ürün Fiyatı</th>
                                        <th>Kdv Oranı</th>
                                        <th>Açıklaması</th>
                                        <th>Durum</th>
                                        <th>Hareketler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.ProductId</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.UnitPrice</td>
                                            <td>@item.Tax</td>
                                            <td>@item.PDescription</td>
                                            <td>
                                                <label class="badge badge-info">on hold</label>
                                            </td>
                                            <td>
                                                <button class="btn btn-outline-primary">view</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>